* {
  box-sizing: border-box;
  margin: 0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  background: linear-gradient(210deg, #ffffff 0%, #e6f0f5 40%, #bad6e5 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  padding-top: 30px;
  font-size: 30px;
  font-family: Comfortaa, sans-serif;
  background: linear-gradient(90deg, #476bb9 0%, #4988C4 20%, #1C4D8D 40%, #0F2854 60%, #213448 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: #213448;
  font-size: 20px;
  margin: 20px;
}

.nav a:hover {
  text-decoration: underline;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 5px 0;
  gap:5px;
  width: 90%;
}

.sub-nav a {
  font-size: 0.96rem;
  margin: 10px !important;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
}

.sub-sub-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.562);
  border-radius: 10px;
  margin: 5px 0;
  gap:5px;
  width: 90%;
}

.sub-sub-nav a {
  font-size: 0.8rem;
  margin: 10px !important;
}

.active-sub-link {
  font-weight: bold;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    height: 100vh;
    padding-top: 20px;
    gap: 40px;
  }

  .title,
  .nav a {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    margin: 0;
  }

  .nav {
    gap: 40px;
  }
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #6A9AB0;
  border-radius: 10px;
}